<div *ngIf="Socket_" class="OptionsButtonHidden">
    <button class="btn btn-primary" (click)="toggleoptions()">
        Options
    </button>
    <button mat-raised-button color="warn" (click)="Disconnect();">Disconnect</button>
</div>
<div *ngIf="Socket_ && ClientSettings_" style="position:relative;top:-36px;z-index:1;" [style.width]="width">
    
    <monitor-canvas *ngFor="let mon of ClientSettings_.MonitorsToWatch" [Monitor]="mon" #HTMLCanvasScreenImage_ (mouseenter)="overmonitor(mon)"></monitor-canvas>
    <canvas #HTMLCanvasMouseImage_ style="position:absolute;"></canvas>
</div>
<div *ngIf="Socket_ && this.Socket_.readyState === this.Socket_.CONNECTING">
    <h1 style="text-align:center;">Connecting to {{ConnectedTo}}</h1>
    <mat-progress-spinner class="connect-spinner" mode="indeterminate" diameter="32" [value]="50"> </mat-progress-spinner>
</div>

