<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="asio" version="1.10.6" targetFramework="native" />
  <package id="boost" version="1.60.0.0" targetFramework="native" />
  <package id="Libjpeg-Turbo" version="1.4.2.20" targetFramework="native" />
  <package id="open_ssl" version="1.0.2.05" targetFramework="native" />
  <package id="open_ssl_android" version="1.0.2.0" targetFramework="native" />
  <package id="open_ssl_windows" version="1.0.2.0" targetFramework="native" />
</packages>