<h2 mat-dialog-title>Connect to Host</h2>
<mat-dialog-content>
    <form [formGroup]="f" class="example-form">
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Host" formControlName="Host">
                        <mat-error *ngIf="f.get('Host').hasError('required') || f.get('Host').hasError('minLength') ">
                            Host is <strong>required</strong>
                        </mat-error> 
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <input type="number" matInput #port maxlength="5" placeholder="Port" formControlName="Port">
                        <mat-hint align="end">{{port.value.length}} / 5</mat-hint>
                        <mat-error *ngIf="f.get('Port').hasError('required') || f.get('Port').hasError('minLength') ">
                            Port is <strong>required</strong>
                        </mat-error> 
                    </mat-form-field>
                </td>
            </tr>
        </table>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="tryconnect();">Connect</button>
</mat-dialog-actions>